body {
  background-color: rgb(6, 22, 56);
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 2em;
  color: #12926c;
}

#description {
  font-size: 1.2em;
  color: #f0f0f0;
  margin: 20px 0;
  font-weight: 900;
}

/* Nav Bar */
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-links > li {
  height: 100%;
  text-align: center;
  align-items: center;
}

.nav-links > li > a {
  color: #12926c;
  width: 100%;
  text-decoration: none;
}
.nav-links > li:hover {
  color: #ffffff;
  background-color: #10d69b;
  border-radius: 5px;

  border-bottom: 2px solid #ffffff;
}
.nav-links > li:hover > a {
  color: #ffffff;
}

/* FIN NAV BAR */

/* ------------ */

.button {
  text-align: center;
  background-color: #c2270b;
  color: white;
  border-radius: 7px;
  width: 100%;
  padding: 8px 10px;
}
.button:hover {
  background-color: #b40808;
  font-weight: 600;
  transition: all 0.7s ease;
  cursor: pointer;
}

.link {
  color: rgb(240, 240, 240);
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  background-color: #12926c;
  padding: 5px 10px;
  width: 100%;
}
.link:hover {
  color: #f5f7f6;
  text-decoration: none;
  border-radius: 7px;
  background-color: #0e7e5c;
  padding: 5px 10px;
  transition: all 0.7s ease;
}

.course-list {
  font-size: 1.2em;
  color: #f0f0f0;
}

.btn {
  background-color: #12926c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #10d69b;
  font-weight: 600;
  color: rgb(19, 13, 13);
  transition: all 0.7s ease;
}

/* ---------- Section Liste ------------------- */

.container {
  width: 90%;
  margin: 0px auto;
}

.article {
  background-color: #1a0b0b;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.1);
}

.article .desc-article h2 {
  color: #12926c;
  font-size: 1.5em;
  margin: 0;
}
.article .date-article {
  text-align: center;
  color: #12926c;
  margin: auto 10px;
  width: 200px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* ----------------------- */

footer {
  background-color: #12926c;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  right: 0;
}

.header {
  background-color: black;
}
.navbar {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
