body {
  background-color: rgb(54, 63, 83);
font-family: 'Times New Roman', serif;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 2em;
  color: #12926c;
}

#description {
  font-size: 1.2em;
  color: #f0f0f0;
  margin: 20px 0;
  font-weight: 900;
}

/* Nav Bar */
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-links > li {
  height: 100%;
  text-align: center;
  align-items: center;
}

.nav-links > li > a {
  color: #12926c;
  width: 100%;
  text-decoration: none;
}
.nav-links > li:hover {
  color: #ffffff;
  background-color: #10d69b;
  border-radius: 5px;

  border-bottom: 2px solid #ffffff;
}
.nav-links > li:hover > a {
  color: #ffffff;
}

/* FIN NAV BAR */

/* ------------ */

.button {
  text-align: center;
  background-color: #c2270b;
  color: white;
  border-radius: 7px;
  width: 100%;
  padding: 8px 10px;
}
.button:hover {
  background-color: #b40808;
  font-weight: 600;
  transition: all 0.7s ease;
  cursor: pointer;
}

.link {
  color: rgb(240, 240, 240);
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  background-color: #12926c;
  padding: 5px 10px;
  width: 100%;
}
.link:hover {
  color: #f5f7f6;
  text-decoration: none;
  border-radius: 7px;
  background-color: #0e7e5c;
  padding: 5px 10px;
  transition: all 0.7s ease;
}

.course-list {
  font-size: 1.2em;
  color: #f0f0f0;
}

.btn {
  background-color: #12926c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #10d69b;
  font-weight: 600;
  color: rgb(19, 13, 13);
  transition: all 0.7s ease;
}

/* ---------- Section Liste ------------------- */

.container {
  width: 90%;
  margin: 0px auto;
}

.article {
  background-color: #1a0b0b;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.1);
}

.article .desc-article h2 {
  color: #12926c;
  font-size: 1.5em;
  margin: 0;
}
.article .date-article {
  text-align: center;
  color: #12926c;
  margin: auto 10px;
  width: 200px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* ----------------------- */

footer {
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  right: 0;
}

.header {
  background-color: black;
}
.navbar {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

/* ------- Tableau -------- */

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #12926c;
  margin: 20px 0;
}
.table-computer {
  width: 100%;
  /* border: 1px solid #12926c; */
  margin: 20px 0;
}

.table th,
.table td {
  border: 1px solid #12926c;
  padding: 4px;
  text-align: left;
}
.table-computer th,
.table-computer td {
  border: 1px solid #12926c;
  padding: 4px;
}

.table-footer {
  background-color: #12926c;
  color: black;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.tfoot {
  color: black;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* -------- Images -------- */
.image {
  /* background: url("../images/restaurant.png") no-repeat center center; */
  width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.1);
  margin: 20px auto;
  display: block;
}
.image-computer {
  /* background: url("../images/restaurant.png") no-repeat center center; */
  width: 60px;
  height: auto;
  border-radius: 5px;
  margin: 2px auto;
  display: block;
}

/* -------- Contact -------- */
.header-contact, .form-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form{
  background-color: #030916;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.541);
}
.form-group {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  border: none;
  background-color: transparent;
}
.form-controls {
  width: 100%;
  border-radius: 5px;
  display: flex;
  background-color: transparent;
}
.form-controls input,
.form-controls textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}
.form-controls input::placeholder {
  color: white;
}

.form-controls select {
  width: 25%;
  background: transparent;
  color: white;
  padding-left: 5px;
  border: 1px solid #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-group > input,
.form-group > textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}

.form-btn {
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.form-btn > button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #12926c;
  color: white;
  border: none;
  cursor: pointer;
}

#btn-annuler {
  text-align: center;
  background-color: #ffffff;
  color: black;
  border-radius: 7px;
  width: 100%;
  padding: 8px 10px;
}
#btn-annuler:hover {
  background-color: #000000;
  color: white;
  font-weight: 600;
  transition: all 0.7s ease;
  cursor: pointer;
}